section.stn-about.container
    div.stn-about__box
        h1.stn-about__box--h1 About me
        p.stn-about__box--pr Lorem ipsum dolor sit amet, consectetur <br>adipiscing elit. Nunc vulputate libero et <br>velit interdum, ac aliquet odio mattis. Class <br>aptent taciti sociosqu ad litora torquent <br>per conubia nostra, per inceptos <br>himenaeos. Curabitur tempus urna at <br>turpis condimentum lobortis.... Read more
    div.stn-about__box-second
        img.stn__box-second__img3(src="../../assetes/img3.png", alt="")
        img.stn__box-second__img4(src="../../assetes/img4.png", alt="")