link(rel="stylesheet", href="../../scss/_contact.scss")

section.section.container 
    div.box1
        div.box2
            img(src="../../My recent works.png", alt="")
        div  
        div.btn
            button.but1 all 
            button.but ui 
            button.but ux
            button.but web design 
        div 
        div.box3
            img(src="../../Frame 10.png", alt="")
            img(src="../../Frame 11.png", alt="")
            img(src="../../Frame 10 (1).png", alt="")
        div
section.section1.container 
    

