section.stn
    div.stn__box
        h1.stn__box--h1 CREATIVE UI <span>DESIGNER
        button.stn__box--btn Hire me
        button.stn__box--btn-second Download CV
    div.stn__box
        img(src="../../assetes/img.png", alt="")
        img(src="../../assetes/img2.png", alt="")