section.stn.container
    div.stn__box
        h1.stn__box--h1 CREATIVE UI <br>DESIGNER
        div.stn__box--box
            button.stn__box--box__btn Hire me
            button.stn__box--box__btn-second Download CV
    div.stn__box-second
        img.stn__box-second__img2(src="../../assetes/img2.png", alt="")
        img.stn__box-second__img(src="../../assetes/img.png", alt="")